<div class="hero">
    <p class="headline text-center">Ristorante Il Gambero Rosso</p>
    <p class="hero-text text-center">Delivering great food for more then 18 years!</p>
    <p>
        <span class="btn btn-sm btn-success mx-1" routerLink="/menu">Our Menu</span>
        <span class="btn btn-sm btn-success mx-1" routerLink="/cart">Cart
            <ng-template [ngIf]="count > 0">
                <span class="cart-items">({{ count }} Item(s))</span>
            </ng-template>
        </span>
    </p>
</div>

