.home-headline {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    font-size: 250%;
    width: 100%;
    overflow: auto;
}
.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    .h-text-sm {
        width: 59%;
        font-size: 72%;
    }
}
@media (max-width: 768px) {
    .h-img {
        width: 70%;
    }
}
@media (min-width: 769px) {
    .h-img {
        width: 30%;
    }
}