@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Happy+Monkey&family=Pacifico&display=swap');

.headL {
    height: 10rem;
    .headline {
            font-family: 'Dancing Script', cursive;
        font-size: 300%;
        font-weight: 550;
    }
}