
<app-hero></app-hero>
<div class="wrap">
    <div class="content home">
        <p class="home-headline mb-4 mt-4 text-center">Ristorante Il Gambero Rosso</p>
        <img src="../../assets/img/bar.jpg" alt="home pic" class="mb-4 h-img">
        <div class="h-text-sm">
            <h6>Lorem, ipsum dolor sit <b>amet consectetur adipisicing elit. Molestias?</b></h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi fuga nobis enim possimus distinctio cupiditate sed tempore harum tempora nesciunt, explicabo magni consectetur voluptas quisquam.</p>
            <p><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus non atque culpa placeat rem, optio omnis voluptate facilis. Nemo.</i></p>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet?</li>
                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique doloribus nisi</li>
                <li>consequatur fuga natus reprehenderit quasi iure quis nihil, architecto quia? Perspiciatis nemo, repellendus dignissimos exercitationem maxime dolore! Est debitis id laborum ut esse.</li>
            </ul>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error deleniti inventore, libero enim sint aperiam molestiae ex, quia velit esse id, accusantium vero ducimus at architecto rerum accusamus consectetur doloribus. Totam deleniti beatae similique est.</p>
        </div>
    </div>
    <div class="h-choose w-100 bg-light">
        <p class="home-headline mb-0 text-center w-100">why choose us</p>
        <p class="mb-0 text-center h-text w-100">Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet.</p>
        <ol type="I" class="w-75 d-flex justify-content-between h-ol">
            <li class="h-choose-li h-text"><br>
                <h6>Lorem, ipsum.</h6>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error corporis id placeat iste minima!</p>
            </li>
            <li class="h-choose-li h-text"><br>
                <h6>Lorem, ipsum.</h6>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error corporis id placeat iste minima!</p>
            </li>
            <li class="h-choose-li h-text"><br>
                <h6>Lorem, ipsum.</h6>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error corporis id placeat iste minima!</p>
            </li>
        </ol>
    </div>
    <div class="content home">
        <p class="home-headline mb-0 text-center">check our specials</p>
        <p class="text-center h-text w-100 m-4">Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet.</p>
        <div class="container d-flex flex-column p-0 h-btns mx-0">
            <p class="btn btn-sm btn-primary m-1 h-btn text-truncate text-nowrap">Scaloppina di vitello</p>
            <p class="btn btn-sm btn-primary m-1 h-btn text-truncate text-nowrap">food 2</p>
            <p class="btn btn-sm btn-primary m-1 h-btn text-truncate text-nowrap">food 3</p>
            <p class="btn btn-sm btn-primary m-1 h-btn text-truncate text-nowrap">food 4</p>
            <p class="btn btn-sm btn-primary m-1 h-btn text-truncate text-nowrap">food 5</p>
        </div>
        <div class="h-specials">
            <h6>Scaloppina di vitello</h6>
            <p>Wiener Schnitzel vom Kalbsfilet mit Pommes frites, American Sauce und gemischtem Salat (A G L M)</p>

        </div>
        <img src="../../assets/img/vitello.jpg" alt="pic" class="h-specials-img m-2">
    </div>
</div>
