
<app-hero></app-hero>
<div class="wrap">
    <div class="content home">
        <p class="home-headline mb-0">Ristorante Il Gambero Rosso</p>
        <img src="../../assets/img/pic.png" alt="" style="width: 320px; height: 320px">
        <div class="h-text">
            <h6>Lorem, ipsum dolor sit <b>amet consectetur adipisicing elit. Molestias?</b></h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi fuga nobis enim possimus distinctio cupiditate sed tempore harum tempora nesciunt, explicabo magni consectetur voluptas quisquam.</p>
            <p><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus non atque culpa placeat rem, optio omnis voluptate facilis. Nemo.</i></p>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet?</li>
                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique doloribus nisi</li>
                <li>consequatur fuga natus reprehenderit quasi iure quis nihil, architecto quia? Perspiciatis nemo, repellendus dignissimos exercitationem maxime dolore! Est debitis id laborum ut esse.</li>
            </ul>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error deleniti inventore, libero enim sint aperiam molestiae ex, quia velit esse id, accusantium vero ducimus at architecto rerum accusamus consectetur doloribus. Totam deleniti beatae similique est.</p>
        </div>
    </div>
</div>
